<!DOCTYPE html>
<html>
<body class="splash-container">
  <h2>Meals Budgetting App</h2>

  <div class="cta-buttons">
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn" %></p>
    <p><%= link_to "Sign In", new_user_session_path %></p>
  </div>
</body>
</html>
