<h1>Welcome to Cjay's Restaurant Management App</h1>

<p>Here I'll help you keep track of your spending</p>

<p><%= link_to "Sign Up", new_user_registration_path %><%= link_to "Sign In", new_user_session_path %></p>