* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

.meal-container {
  width: 100%;
}

.meal-card {
  width: 90%;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.meal-icon {
  width: 80px;
  height: 100%;
}
