.order-meal-btn {
  background-color: #5fb523;
  color: white;
  border: none;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

.order-form {
  margin-top: 20px;
  text-align: center;
}

.form-field {
  margin: 10px 0;
}

.form-label {
  font-size: 18px;
  display: block;
  text-align: left;
}

.form-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-transaction-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  background-color: #5fb523;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
